/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#single-in{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 99999;
    font-family: 'Lato', sans-serif;
    display: none;
}

#single-in .transparency{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #1f1f1f;
    cursor: pointer;
    opacity: 0;
}

#single-in .close {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: .65em;
    right: 1em;
    cursor: pointer;
    -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999999;
    -webkit-transform: translate(0%,-100px);
    -ms-transform: translate(0%,-100px);
    transform: translate(0%,-100px);
}

#single-in .close:before,
#single-in .close:after{
    position: absolute;
    content: '';
    width: 0.1em;
    height: 1em;
    right: 0.7em;
    top: 0.25em;
    background: #e7e7e7;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#single-in .close:after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#single-in .close:hover {
    background: #fff;
}

#single-in .close:hover:after, #single-in .close:hover:before {
    background: #1f1f1f;
}

#single-in .circle{

}

#single-in .circle:before,
#single-in .circle:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 3em;
    height: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    border: 1px solid #fff;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    -moz-animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    -mos-animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    -o-animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

#single-in .circle:after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

@-keyframes crcright{
    0%    {clip: rect(0em, 1.5em, 0em, 0em);}
    50%   {clip: rect(0em, 1.5em, 3em, 0em);}
    100%  {clip: rect(3em, 1.5em, 3em, 0em);}
}

@-webkit-keyframes crcright{
    0%    {clip: rect(0em, 1.5em, 0em, 0em);}
    50%   {clip: rect(0em, 1.5em, 3em, 0em);}
    100%  {clip: rect(3em, 1.5em, 3em, 0em);}
}

@-moz-keyframes crcright{
    0%    {clip: rect(0em, 1.5em, 0em, 0em);}
    50%   {clip: rect(0em, 1.5em, 3em, 0em);}
    100%  {clip: rect(3em, 1.5em, 3em, 0em);}
}

#single-in .container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20em;
    height: 5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    text-align: center;
    overflow: hidden;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    border: 3px solid #fff;
    -webkit-transform: translate(100%,0%);
    -ms-transform: translate(100%,0%);
    transform: translate(100%,0%);
    opacity: 0;
}

#single-in .off{
    -webkit-animation: off 1s .5s forwards;
    animation: off 1s .5s forwards;
}

@-webkit-keyframes off {
    from { border: 3px solid rgba(255, 255, 255, 1); }
    to { border: 3px solid rgba(255, 255, 255, 0); }
}

@keyframes off {
    from { border: 3px solid rgba(255, 255, 255, 1); }
    to { border: 3px solid rgba(255, 255, 255, 0); }
}

#single-in .container .open-sign{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    color: #bbb;
    cursor: pointer;
    z-index: 10;
}

#single-in .container .open-sign:hover{
    color: #fff;
}

#single-in .container .ok {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 100%;
    width: 3em;
    height: 3em;
    background: #2a2a2a;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    border: none;
    cursor: pointer;
    z-index: 5;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-appearance: none;
    outline: 0;
    font-size:1em;
    vertical-align: middle;
}

#single-in .container .ok:before {
    position: absolute;
    top: 0;
    right: .5em;
    top: 0.25em;
    margin: auto;
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    color: #fefefe;
}

#single-in .container input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-appearance: none;
    outline: 0;
    font-size: 2em;
    color: #fff;
    vertical-align: middle;
    padding-left: 2.75em;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    border: none;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

#single-in .container #login{
    z-index: 3;
}

#single-in .container #password{
    z-index: 1;
    opacity: 0;
}

#single-in .container .login-label{
    position: absolute;
    width: 5em;
    height: 5em;
    top: -3px;
    left: 100%;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    border: 3px solid #fff;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
}

#single-in .container .login-label:before{
    position: absolute;
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    top: .65em;
    left: 0.75em;
    font-size: 2em;
    color: #fff;
}

#single-in .container .password-label{
    position: absolute;
    width: 5em;
    height: 5em;
    top: -3px;
    left: -5em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    border: 3px solid #fff;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
}

#single-in .container .password-label:before{
    position: absolute;
    content: "\f084";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    top: .65em;
    left: 0.75em;
    font-size: 2em;
    color: #fff;
}

#single-in .attention{
    -webkit-animation: attention .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: attention .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 3px solid #ff2020 !important; 
}

#single-in .attention label{
    border: 3px solid #ff2020 !important; 
}

#single-in .attention label:before{
    color: #ff2020 !important; 
}

@-webkit-keyframes attention{
    0%    {-webkit-transform: translateX(-5%);transform: translateX(-5%);}
    20%   {-webkit-transform: translateX(5%);transform: translateX(5%);}
    40%   {-webkit-transform: translateX(-5%);transform: translateX(-5%);}
    60%   {-webkit-transform: translateX(5%);transform: translateX(5%);}
    80%   {-webkit-transform: translateX(-5%);transform: translateX(-5%);}
    100%  {-webkit-transform: translateX(0%);transform: translateX(0%);}
}

@keyframes attention{
    0%    {-webkit-transform: translateX(-5%);transform: translateX(-5%);}
    20%   {-webkit-transform: translateX(5%);transform: translateX(5%);}
    40%   {-webkit-transform: translateX(-5%);transform: translateX(-5%);}
    60%   {-webkit-transform: translateX(5%);transform: translateX(5%);}
    80%   {-webkit-transform: translateX(-5%);transform: translateX(-5%);}
    100%  {-webkit-transform: translateX(0%);transform: translateX(0%);}
}

#single-in .container .fin-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    opacity: 0;
}

#single-up{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 99999;
    font-family: 'Lato', sans-serif;
    display: none;
}

#single-up .transparency{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #1f1f1f;
    cursor: pointer;
    opacity: 0;
}

#single-up .close {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    top: .65em;
    right: 1em;
    cursor: pointer;
    -webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999999;
    -webkit-transform: translate(0%,-100px);
    -ms-transform: translate(0%,-100px);
    transform: translate(0%,-100px);
}

#single-up .close:before,
#single-up .close:after{
    position: absolute;
    content: '';
    width: 0.1em;
    height: 1em;
    right: 0.7em;
    top: 0.25em;
    background: #e7e7e7;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#single-up .close:after{
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#single-up .close:hover {
    background: #fff;
}

#single-up .close:hover:after, #single-up .close:hover:before {
    background: #1f1f1f;
}

#single-up .circle{

}


#single-up .circle:before,
#single-up .circle:after{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 3em;
    height: 3em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    border: 1px solid #fff;
     -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    -moz-animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
    animation: crcright .75s cubic-bezier(0.86, 0, 0.07, 1) forwards;
}

#single-up .circle:after{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#single-up .container{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 20em;
    height: 5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
    text-align: center;
    overflow: hidden;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    border: 3px solid #fff;
    -webkit-transform: translate(100%,0%);
    -ms-transform: translate(100%,0%);
    transform: translate(100%,0%);
    opacity: 0;
}

#single-up .off{
    -webkit-animation: off 1s .5s forwards;
    animation: off 1s .5s forwards;
}

@-webkit-keyframes off {
    from { border: 3px solid rgba(255, 255, 255, 1); }
    to { border: 3px solid rgba(255, 255, 255, 0); }
}

@keyframes off {
    from { border: 3px solid rgba(255, 255, 255, 1); }
    to { border: 3px solid rgba(255, 255, 255, 0); }
}

#single-up .container .open-sign{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    color: #bbb;
    cursor: pointer;
    z-index: 10;
}

#single-up .container .open-sign:hover{
    color: #fff;
}

#single-up .container .ok {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 100%;
    width: 3em;
    height: 3em;
    background: #2a2a2a;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    border: none;
    cursor: pointer;
    z-index: 5;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-appearance: none;
    outline: 0;
    font-size:1em;
    vertical-align: middle;
}

#single-up .container .ok:before {
    position: absolute;
    top: 0;
    right: .5em;
    top: 0.25em;
    margin: auto;
    content: "\f105";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 2em;
    color: #fefefe;
}

#single-up .container input{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    -webkit-appearance: none;
    outline: 0;
    font-size: 2em;
    color: #fff;
    vertical-align: middle;
    padding-left: 2.75em;
    -webkit-border-radius: 4em;
    border-radius: 4em;
    border: none;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: 100% 50%;
    -ms-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
}

#single-up .container #login{
    z-index: 3;
}

#single-up .container #email{
    z-index: 2;
    opacity: 0;
}

#single-up .container #password{
    z-index: 1;
    opacity: 0;
}

#single-up .container .login-label{
    position: absolute;
    width: 5em;
    height: 5em;
    top: -3px;
    left: 100%;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    border: 3px solid #fff;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
}

#single-up .container .login-label:before{
    position: absolute;
    content: "\f007";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    top: .65em;
    left: 0.75em;
    font-size: 2em;
    color: #fff;
}

#single-up .container .email-label{
    position: absolute;
    width: 5em;
    height: 5em;
    top: -3px;
    left: -5em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    border: 3px solid #fff;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
}

#single-up .container .email-label:before{
    position: absolute;
    content: "\f0e0";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    top: .65em;
    left: 0.75em;
    font-size: 2em;
    color: #fff;
}

#single-up .container .password-label{
    position: absolute;
    width: 5em;
    height: 5em;
    top: -3px;
    left: -5em;
    -webkit-border-radius: 3em;
    border-radius: 3em;
    border: 3px solid #fff;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -mos-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 5;
}

#single-up .container .password-label:before{
    position: absolute;
    content: "\f084";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    top: .65em;
    left: 0.75em;
    font-size: 2em;
    color: #fff;
}

#single-up .attention{
    -webkit-animation: attention .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    animation: attention .5s cubic-bezier(0.645, 0.045, 0.355, 1);
    border: 3px solid #ff2020 !important; 
}

#single-up .attention label{
    border: 3px solid #ff2020 !important; 
}

#single-up .attention label:before{
    color: #ff2020 !important; 
}

#single-up .container .fin-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-size: 3em;
    line-height: 1.5em;
    font-weight: 900;
    color: #fff;
    cursor: pointer;
    opacity: 0;
}
